body {
    min-width: 1264px;
}

.esquerda {
    width: 840px;
    height: 100%;
    float: left;
}

.direita {
    width: calc(100% - 845px);
    height: 100%;
    float: right;
}

/*#region Primeira Linha*/
#secPrimeiraLinha {
    width: 100%;
    height: 413.917px;
}

#divTabuleiro {
    display: grid;
    grid-template-columns: repeat(32,26.25px);
    grid-template-rows: repeat(25, 16.5568px);
    background-image: url(../../Imagens/Tabuleiro/imgTabuleiro.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: inherit;
    grid-template-areas: ". . . . . . . . . . . . . . . . . . . . . . . . . . santiago santiago santiago santiago santiago santiago" ". . . . . . . . . . . . . . . . . . . . . . . . . . santiago santiago santiago santiago santiago santiago" ". . . . . . . . . . . . . . . . . auditorio auditorio auditorio auditorio auditorio auditorio auditorio . . santiago santiago santiago santiago santiago santiago" ". . . . . . . . . . . . . . . . . auditorio auditorio auditorio auditorio auditorio auditorio auditorio . . santiago santiago santiago santiago santiago santiago" ". . . . . . . . . . . . . . . . . auditorio auditorio auditorio auditorio auditorio auditorio auditorio . . santiago santiago santiago santiago santiago santiago" ". . . . . . . . . . . . . . . . . auditorio auditorio auditorio auditorio auditorio auditorio auditorio . . santiago santiago santiago santiago santiago santiago" ". . . . . . . . . . . . . . . . . auditorio auditorio auditorio auditorio auditorio auditorio auditorio . . santiago santiago santiago santiago santiago santiago" ". . . . . . . . . . . . . . . . . auditorio auditorio auditorio auditorio auditorio auditorio auditorio . . santiago santiago santiago santiago santiago santiago" ". . . . . . . . . . . . . . . . . ginasio ginasio ginasio ginasio ginasio ginasio ginasio . . santiago santiago santiago santiago santiago santiago" ". . . . . . . . . . . . . . . . . ginasio ginasio ginasio ginasio ginasio ginasio ginasio . . . . . . . ." "predioA predioA predioA predioA predioA predioA . . predioB predioB predioB predioB predioB predioB . . . ginasio ginasio ginasio ginasio ginasio ginasio ginasio . . . . . . . ." "predioA predioA predioA predioA predioA predioA . . predioB predioB predioB predioB predioB predioB . . . ginasio ginasio ginasio ginasio ginasio ginasio ginasio . . ca ca ca ca ca ca" "predioA predioA predioA predioA predioA predioA . . predioB predioB predioB predioB predioB predioB . . . ginasio ginasio ginasio ginasio ginasio ginasio ginasio . . ca ca ca ca ca ca" "predioA predioA predioA predioA predioA predioA . . predioB predioB predioB predioB predioB predioB . . . ginasio ginasio ginasio ginasio ginasio ginasio ginasio . . ca ca ca ca ca ca" "predioA predioA predioA predioA predioA predioA . . predioB predioB predioB predioB predioB predioB . . . ginasio ginasio ginasio ginasio ginasio ginasio ginasio . . ca ca ca ca ca ca" "predioA predioA predioA predioA predioA predioA . . predioB predioB predioB predioB predioB predioB . . . ginasio ginasio ginasio ginasio ginasio ginasio ginasio . . ca ca ca ca ca ca" "predioA predioA predioA predioA predioA predioA . . predioB predioB predioB predioB predioB predioB . . . ginasio ginasio ginasio ginasio ginasio ginasio ginasio . . ca ca ca ca ca ca" ". . . . . . . . . . . . . . . . . . . . . . . . . . ca ca ca ca ca ca" ". . . . . . . . . . . . . . . . . . . . . . . . . . ca ca ca ca ca ca" "cantinaAB cantinaAB cantinaAB cantinaAB cantinaAB cantinaAB . . etesp etesp etesp etesp etesp etesp . praca praca praca praca praca praca praca praca praca . . ca ca ca ca ca ca" "cantinaAB cantinaAB cantinaAB cantinaAB cantinaAB cantinaAB . . etesp etesp etesp etesp etesp etesp . praca praca praca praca praca praca praca praca praca . . ca ca ca ca ca ca" "cantinaAB cantinaAB cantinaAB cantinaAB cantinaAB cantinaAB . . etesp etesp etesp etesp etesp etesp . praca praca praca praca praca praca praca praca praca . . ca ca ca ca ca ca" "cantinaAB cantinaAB cantinaAB cantinaAB cantinaAB cantinaAB . . etesp etesp etesp etesp etesp etesp . praca praca praca praca praca praca praca praca praca . . ca ca ca ca ca ca" "cantinaAB cantinaAB cantinaAB cantinaAB cantinaAB cantinaAB . . etesp etesp etesp etesp etesp etesp . praca praca praca praca praca praca praca praca praca . . ca ca ca ca ca ca" "cantinaAB cantinaAB cantinaAB cantinaAB cantinaAB cantinaAB . . etesp etesp etesp etesp etesp etesp . praca praca praca praca praca praca praca praca praca . . ca ca ca ca ca ca";
}

#divAnotacoes {
    background: #C4C4C4;
}

.suspeito {
    display: grid;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    align-self: center;
    justify-self: center;
}

#divReitor {
    background-image: url(../../Imagens/TokenSuspeitos/imgTokenReitor.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: inherit;
    display: grid;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    align-self: center;
    justify-self: center;
}
#divBibliotecaria {
    background-image: url(../../Imagens/TokenSuspeitos/imgTokenBibliotecaria.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: inherit;
    display: grid;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    align-self: center;
    justify-self: center;
}
#divDiretora {
    background-image: url(../../Imagens/TokenSuspeitos/imgTokenDiretora.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: inherit;
    display: grid;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    align-self: center;
    justify-self: center;
}
#divEstudante {
    background-image: url(../../Imagens/TokenSuspeitos/imgTokenEstudante.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: inherit;
    display: grid;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    align-self: center;
    justify-self: center;
}
#divPolicial {
    background-image: url(../../Imagens/TokenSuspeitos/imgTokenPolicial.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: inherit;
    display: grid;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    align-self: center;
    justify-self: center;
}
#divProfessora {
    background-image: url(../../Imagens/TokenSuspeitos/imgTokenProfessora.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: inherit;
    display: grid;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    align-self: center;
    justify-self: center;
}
#divReporter {
    background-image: url(../../Imagens/TokenSuspeitos/imgTokenReporter.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: inherit;
    display: grid;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    align-self: center;
    justify-self: center;
}
#divZelador {
    background-image: url(../../Imagens/TokenSuspeitos/imgTokenZelador.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: inherit;
    display: grid;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    align-self: center;
    justify-self: center;
}

.Local {
    display: flex;
    justify-content: center;
    align-items: center;
    /*grid-row: 11/18;
    grid-column: 1/7;*/
}

.dentro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

/*#endregion*/
/*#region Segunda Linha*/
#secSegundaLinha {
    width: 100%;
    height: calc(100% - 417.917px);
    margin-top: 5px;
}

#divCartasContainer {
    background: #C4C4C4;
    display: block;
    margin: 0 auto;
}

#divCartas{
    width: 80%;
    height: 100%;
    padding-top: 20px;
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
    background: #827071;
    border-radius: 5rem;
    width: 35px;
    height: 35px;
    -webkit-filter: invert(1) !important;
}

.action {
    display: block;
    margin: 100px auto;
    width: 100%;
    text-align: center;
}

    .action a {
        display: inline-block;
        padding: 5px 10px;
        background: #f30;
        color: #fff;
        text-decoration: none;
    }

        .action a:hover {
            background: #000;
        }

.carta img {
    width: 45%;
}

#divAcoes {
    background: #C4C4C4;
}

#divBotoes {
    display: grid;
    grid-template-columns: repeat(3, 43.33px);
    grid-template-rows: repeat(6, 23.3px);
    padding: 5px;
    width: 140px;
    float: left;
}

.centralizarBotoes {
    align-self: center;
    justify-self: center;
}

.botoes {
    width: 40px;
    height: 20px;
    background-color: #908D8D;
    border: none;
    -moz-box-shadow: 0px 0px 3px 0px #000000 inset;
    -webkit-box-shadow: 0px 0px 3px 0px #000000 inset;
    box-shadow: 0px 0px 3px 0px #000000 inset;
}

    .botoes:focus {
        outline: thin dotted;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
    }

    .botoes:hover {
        -moz-box-shadow: 0px 0px 2px 0px #000000 inset;
        -webkit-box-shadow: 0px 0px 2px 0px #000000 inset;
        box-shadow: 0px 0px 2px 0px #000000 inset;
    }

.btnSetaHorizontal {
    background-image: url(../../Imagens/Shared/SetaHorizontal.svg);
    background-repeat: no-repeat;
    background-size: 17.5px;
    background-position: center center;
    background-attachment: inherit;
}

.btnSetaVertical {
    background-image: url(../../Imagens/Shared/SetaVertical.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center center;
    background-attachment: inherit;
}

#btnFinalizarTurno {
    background-image: url(../../Imagens/Shared/imgTurno.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center center;
    background-attachment: inherit;
    grid-column: 1;
    grid-row: 1;
}

#btnDireita {
    grid-column: 3;
    grid-row: 2;
}

#btnEsquerda {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    grid-column: 1;
    grid-row: 2;
}

#btnAcima {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    grid-column: 2;
    grid-row: 1;
}

#btnAbaixo {
    grid-column: 2;
    grid-row: 3;
}

#btnLancarDados {
    background-image: url(../../Imagens/Shared/imgDados.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center center;
    background-attachment: inherit;
    grid-column: 2;
    grid-row: 2;
}

.botoes.botoesOpcoes {
    width: 100px;
    font-family: 'Roboto Slab', serif;
    font-size: 0.8em;
    font-weight: bold;
}

#btnPalpite {
    grid-column: 1/4;
    grid-row: 4;
}

#btnAcusar {
    grid-column: 1/4;
    grid-row: 5;
}

#btnPassagemSecreta {
    grid-column: 1/4;
    grid-row: 6;
}

#divInformacoesContainer {
    width: calc(100% - 140px);
    height: 100%;
    padding: 5px;
    float: right;
}

#divInformacoes {
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: #DBD5D5;
    box-shadow: 4px 2px 7px 1px rgba(0, 0, 0, 0.3);
}

#lblSala {
    height: 20px;
    color: #BDA1B0;
    font-family: 'Risque', cursive;
    font-size: 1.15em;
}

#btnFinalizarTurno {
    float: right;
}

#divCaixaInformacoes {
    width: 100%;
    height: calc(100% - 20px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    padding: 5px;
}

.informacao {
    width: 100%;
    height: 15px;
    font-family: 'Risque', cursive;
    font-size: 0.95em;
}

/*#endregion*/
@media (min-width: 630px) {
    #divColunasTabelaAnotacoes {
        width: auto;
        background: #DBD5D5;
        /*margin-top: 10px;
        margin-bottom: 10px;*/
        margin-right: 4px;
        margin-left: 4px;
        font-family: 'Risque', cursive;
        font-size: 0.95em;
        /*padding-bottom: 30px;*/
    }

    #divTituloColunas {
        font-family: 'Risque', cursive;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 12px;
    }

    #divTabelaAnotacoes {
        font-family: 'Risque', cursive;
        font-size: 2.82em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #divItemColuna {
        padding: 3px;
    }

    .container {
        display: block;
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 1.1em;
    }

        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    .check {
        left: 0;
        top: 2px;
        width: 14px;
        height: 14px;
        background: #FFFFFF;
        position: absolute;
        border: solid #000000;
        border-width: 1px 1px 1px 1px;
    }

    .container input:checked ~ .check {
        background: #FFFFFF;
    }

    .container .check:after {
        top: -2px;
        left: 2.35px;
        width: 8px;
        height: 14px;
        border: solid #138f09;
        border-width: 0px 3px 3px 0px;
        -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        transform: rotate(35deg);
    }

    .check:after {
        content: "";
        position: absolute;
        display: none;
    }

    .container input:checked ~ .check:after {
        display: block;
    }

    /*#divAnotacoes {
        background: blue;
    }*/
}

@media (min-width: 800px) {
}
