@RenderSection("head", required: false)
<div id="DetetiveModal" class="modal-container">
    <div class="modal-customizado">
        <button class="fecha">x</button>
        <div id="divDetetiveModalTitulo" class="centralizar">
            <h3 id="lblDetetiveModalTitulo" class="fontePadrao"></h3>
        </div>
        <div id="divImagem" class="centralizar">
        </div>
        @RenderBody()
    </div>
</div>

@RenderSection("scripts", required: false)