@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <link rel="stylesheet" href="@Url.Content("~/Content/Views/Partida/Manter.css?" + DateTimeOffset.Now)" />
}

@section scripts{
    <script src="@Url.Content("~/Scripts/Views/Partida/ManterSala.js?" + DateTimeOffset.Now)"></script>
}
    <div class="centralizar" id="Icone">
        <img src="~/Content/Imagens/Shared/imgLogo.svg" alt="Alternate Text" />
    </div>