@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

@section head{
    <link rel="stylesheet" href="@Url.Content("~/Content/Views/Partida/ModalAcusar.css?" + DateTimeOffset.Now)" />
}

@section scripts{
    <script src="@Url.Content("~/Scripts/Views/Partida/ModalAcusar.js?" + DateTimeOffset.Now)"></script>
}
<div>
    <div class="form-group">
        <label class="lblModal" for="lslbModalAcusar_Suspeito">Selecione um suspeito</label>
        <select class="form-control" id="lslbModalAcusar_Suspeito"> @*ID do jogador sala*@
            <option value="2">Diretora</option>
            <option value="3">Professora</option>
            <option value="4">Estudante</option>
            <option value="5">Zelador</option>
            <option value="6">Policial</option>
            <option value="7">Reporter</option>
            <option value="8">Bibliotecária</option>
        </select>
    </div>
    <div class="form-group">
        <label class="lblModal" for="lslbModalAcusar_Armas">Selecione uma arma</label>
        <select class="form-control" id="lslbModalAcusar_Armas">
            <option value="1">Caixa de Giz</option>
            <option value="2">Monitor</option>
            <option value="3">Teclado</option>
            <option value="4">Projetor</option>
            <option value="5">Lista de Exercícios</option>
            <option value="6">Pendrive</option>
            <option value="7">Cadeira Quebrada</option>
            <option value="8">Pomba</option>
        </select>
    </div>
    <div class="centralizar">
        <button type="submit" class="btn btn-primary" onclick="ModalAcusar.Acusar()">Confirmar</button>
    </div>
</div>